.container {
    max-width: 60rem;
}

.invalid-feedback {
    display: block;
}
input.ng-invalid.ng-touched.ng-dirty{
    border: 1px solid #dcd135;
}
input.ng-invalid.ng-touched.ng-pristine{
    border: 1px solid #dcd135;
}
input.ng-dirty.ng-touched.ng-valid {
    border: 1px solid #28a745;
}
input.ng-pristine.ng-touched.ng-valid {
    border: 1px solid #28a745;
}
input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

input.ng-valid.ng-touched, textarea.ng-valid.ng-touched {
    border: 1px solid green;
}
